<div class="modal">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header {{ css }}">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
				<h4 class="modal-title">{{ title }}</h4>
			</div>
			<div class="modal-body">
				<p>{{ message }}</p>
			</div>
			<div class="modal-footer">
				<button type="button" [hidden]="!isOkVisible" class="btn btn-wsm {{ css }}" data-dismiss="modal">OK</button>
				<button type="button" [hidden]="!isYesVisible" class="btn btn-wsm {{ css }}" (click)="result(true)">Sim</button>
				<button type="button" [hidden]="!isNoVisible" class="btn btn-wsm btn-default" (click)="result(false)">Não</button>
			</div>
		</div>
	</div>
</div>
