<div
  class="form-group has-feedback"
  [class.has-error]="valuePassword.invalid && valuePassword.dirty"
>
  <input
    type="password"
    class="form-control"
    placeholder="Confirmação da Nova Senha"
    (keyup)="emitirSenha($event.target.value)"
  />
  <span class="glyphicon glyphicon-lock form-control-feedback"></span>
  <div class="help-block" *ngIf="valuePassword.hasError('required') && valuePassword.dirty">
    Senha inválida.
  </div>
  <div class="help-block" *ngIf="valuePassword.hasError('minlength') && valuePassword.dirty">
    A senha precisa ter no mínimo 8 caracteres.
  </div>
  <div class="help-block" *ngIf="valuePassword.hasError('passwordMismatch') && valuePassword.dirty">
    A confirmação da senha deve ser igual a nova senha.
  </div>
</div>
