.login{
    position: absolute;
    height: 100%;
    width: 100%;
}

.login-flex{
    position: relative;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.loginHome {
    position: relative;
}

.login-box{
    flex-grow: 1;
}
