<app-content-header title="Credenciamento Pessoa {{ tiposPessoa.descricoes[tipoPessoa] }} / Domicílio Bancário">
</app-content-header>
<app-wizard [steps]="steps" [tipoPessoa]="tipoPessoa" [config]="wizardConfig"></app-wizard>

<section class="content">
	<div class="box box-primary">
		<div class="box-body no-padding">
			<div class="table-responsive">
				<table class="table" cloneRowValues url="true" [waitFor]="loaded" url="true">
					<thead>
						<tr>
							<th></th>
							<th>Banco</th>
							<th>Agência</th>
							<th>Conta</th>
							<th>Dígito</th>
						</tr>
					</thead>
					<tbody>
						<tr *ngFor="let configuracao of domicilio.controls" [formGroup]="configuracao">
							<th>
								{{ configuracao.controls.bandeira.value.text }}
							</th>
							<td
								[class.has-error]="configuracao.controls.banco.invalid && configuracao.controls.banco.dirty">
								<select class="form-control" formControlName="banco" select2
									[select2-placeholder]="getNomeBancoPorId(configuracao.controls.banco)">
									<option value="">Selecione uma opção</option>
									<option *ngFor="let banco of bancos" [value]="banco.id">{{ banco.id }} -
										{{ banco.text }}</option>
								</select>
							</td>
							<td
								[class.has-error]="configuracao.controls.agencia.invalid && configuracao.controls.agencia.dirty">
								<input class="form-control" formControlName="agencia" mask="0*" maxlength="5">
							</td>
							<td
								[class.has-error]="configuracao.controls.conta.invalid && configuracao.controls.conta.dirty">
								<input class="form-control" formControlName="conta" mask="0* " maxlength="10">
							</td>
							<td
								[class.has-error]="configuracao.controls.digito.invalid && configuracao.controls.digito.dirty">
								<input class="form-control" formControlName="digito" mask="0">
							</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
		<div class="box-footer"></div>
	</div>

	<div class="row">
		<div class="col-xs-6 text-right">
			<button class="btn btn-default btn-wlg" (click)="goBack()">Voltar</button>
		</div>
		<div class="col-xs-6 text-left">
			<button class="btn btn-primary btn-wlg" (click)="submitForm()">Prosseguir</button>
		</div>
	</div>
</section>