<div class="table-primary">
    <alpe-datatable [datatable]="fornecedoresAprovados"></alpe-datatable>
</div>

<div class="modal modal-editar">
    <div class="modal-dialog">
        <form class="modal-content" *ngIf="itemEditing" [formGroup]="formEdit" (submit)="atualizarVinculo()">
            <div class="modal-header btn-primary">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
                <h4 class="modal-title">Editar Fornecedor</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group" [class.has-error]="edit.valorMaximoExibicao | hasError">
                            <label>Valor Máximo de Exibição:</label>
                            <div class="input-group">
                                <span class="input-group-addon">R$</span>
                                <input type="text" class="form-control" id="valorMaximoExibicao" formControlName="valorMaximoExibicao" maxlength="10" [options]="{ precision: 2, align: 'left' }"
                                    currencyMask>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="form-group" [class.has-error]="edit.prazoAprovacao | hasError">
                            <label>Prazo de Aprovação:</label>
                            <input type="text" class="form-control" formControlName="prazoAprovacao" readonly>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="submit" class="btn btn-wsm btn-primary">Salvar</button>
                <button type="button" class="btn btn-wsm btn-default" data-dismiss="modal">Cancelar</button>
            </div>
        </form>
    </div>
</div>

<modal-cancelamento #modalCancelar (recusado)="cancelar($event)"></modal-cancelamento>