<app-content-header title="Indicar Fornecedor" subtitle="Realizar indicação ou vinculo com fornecedor">
</app-content-header>

<section class="content">
    <div class="box box-primary" *ngIf="!existente.documento.value && !indicacao.documento.value">
        <div class="box-header with-border">
            <h3 class="box-title">Pesquisar</h3>
        </div>
        <form class="box-body" [formGroup]="formFilter" (submit)="checaDocumentoIndicacaoFornecedor()">
            <div class="form-group">
                <label for="documento">CNPJ:</label>
                <input type="text" class="form-control" [formControl]="filter.documento" id="documento"
                    appMaskDocumento>
            </div>
            <button type="submit" class="btn btn-primary pull-right">Pesquisar</button>
        </form>
    </div>

    <div class="box box-primary" *ngIf="existente.documento.value">
        <div class="box-header with-border">
            <h3 class="box-title">Solicitar Vínculo</h3>
        </div>
        <form class="box-body" [formGroup]="formExistente" (submit)="solicitarVinculoComFornecedor()">
            <div class="form-group">
                <label for="nome">Fornecedor</label>
                <input type="text" class="form-control" [formControl]="existente.nome" id="nome" [attr.disabled]="true">
            </div>
            <div class="form-group">
                <label for="documento">Documento</label>
                <input type="text" class="form-control" [formControl]="existente.documento" id="documento"
                    [attr.disabled]="true">
            </div>

            <button class="btn btn-primary pull-right ml-15" type="submit">
                <i class="fa fa-handshake-o"></i>
                Vincular
            </button>
            <button class="btn btn-default pull-right" type="button" (click)="reset()">Voltar</button>
        </form>
    </div>

    <div class="box box-primary" *ngIf="indicacao.documento.value">
        <div class="box-header with-border">
            <h3 class="box-title">Formulário de Indicação</h3>
        </div>
        <form class="box-body" [formGroup]="formIndicacao" (submit)="indicarFornecedorParaCadastro()">
            <div [class.has-error]="checkIndicacao.documento() && (indicacao.documento.touched || indicacao.documento.dirty)"
                class="form-group">
                <label for="documento">Documento</label>
                <input type="text" class="form-control" [formControl]="indicacao.documento" id="documento"
                    [attr.disabled]="true">
            </div>
            <div [class.has-error]="checkIndicacao.nome() && (indicacao.nome.touched || indicacao.nome.dirty)"
                class="form-group">
                <label for="nome">Nome para contato</label>
                <input type="text" class="form-control" [formControl]="indicacao.nome" id="nome">
            </div>
            <div [class.has-error]="checkIndicacao.email() && (indicacao.email.touched || indicacao.email.dirty)"
                class="form-group">
                <label for="email">Email para contato</label>
                <input type="text" class="form-control" [formControl]="indicacao.email" id="email">
            </div>
            <div [class.has-error]="checkIndicacao.telefone() && (indicacao.telefone.touched || indicacao.telefone.dirty)"
                class="form-group">
                <label for="telefone">Telefone para contato</label>
                <input type="text" class="form-control" [formControl]="indicacao.telefone" id="telefone"
                    mask="(00) 0000-0000">
            </div>

            <button class="btn btn-primary pull-right ml-15" type="submit">Indicar</button>
            <button class="btn btn-default pull-right" type="button" (click)="reset()">Voltar</button>
        </form>
    </div>

</section>