.cession-value {
    font-size: 22px;
    margin-bottom: 10px;
    display: block;
}

.step-components-wrapper {
    display: flex;
    flex-direction: column;
}

.step-component-icon-item-wrapper {
    display: flex;
    flex-direction: row;
}

.step-component-icon-wrapper {
    display: flex;
    flex-direction: column;
}

.step-component-icon {
    width: 30px;
    height: 30px;
    font-size: 20px;
    background-color: #b9b9b9;
    border-radius: 100%;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
}

.step-component-icon-line {
    flex: 1;
    width: 2px;
    background-color: #b9b9b9;
    align-self: center;
}

.step-component-item-wrapper {
    display: flex;
    margin: 4px 0 15px 10px;
}

.step-component-item-wrapper>div {
    display: flex;
    flex-direction: column;
}

.step-component-item-title {
    color: #656565;
}

@media (min-width: 992px) {
    .step-components-wrapper {
        flex-direction: row;
    }
    .step-component-icon-item-wrapper:first-child {
        width: calc(50% + 15px);
    }
    .step-component-icon-item-wrapper:last-child {
        width: 50%;
    }
    .step-component-item-wrapper {
        margin: 0;
        display: flex;
        justify-content: center;
        margin-bottom: 20px;
    }
    .step-component-item-wrapper>div {
        text-align: center;
        width: 250px;
        margin-top: 10px;
    }
    .step-component-icon {
        margin-left: calc(50% - 15px);
    }
    .step-component-icon-line {
        margin-right: calc(15px - 50%);
    }
    .step-component-icon-item-wrapper {
        flex-direction: column;
    }
    .step-component-icon-wrapper {
        flex-direction: row;
    }
    .step-component-icon-line {
        width: 100%;
        height: 2px;
        justify-self: center;
    }
    .mt-15 {
        margin-top: 15px;
    }
}
