.text-pointer {
    color: red;
    margin-top: 15px;
    cursor: pointer;
}

.mailTo {
    margin-top: 10% !important;
    margin-left: 5% !important;
}

.small {
    font-size: 85%;
}

@media (min-width: 500px) {
    nav.navbar>.users {
        flex: none;
    }
}

@media (max-width: 500px) {
    .space-participante {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        width: 212px;
    }
}