table.condicoes-comerciais td, table.condicoes-comerciais th {
    text-align: center;
    vertical-align: middle
}
table.condicoes-comerciais tfoot label {
	margin: 0;
    width: 100%;
    height: 100%;
	cursor: pointer;
}

.taxa-fixa {
    min-width: 90px;
}

.taxa-input {
    display: flex;
    justify-content: center;
}

.taxa-input div {
    max-width: 110px;
}

.documents-size-reminder {
    padding-top: 4px;
    padding-bottom: 4px;
    font-size: 12px
}

.taxa-antecipacao {
    text-align-last: left;
}

.disable-pointer {
    pointer-events: none;
}


@media (max-width: 1024px){
    .input-taxa{
        padding: 0;
    }
    .input-symbol{
        padding: 1px;
    }
}

.bold{
    font-weight: bold;
}