<div class="login-box">
    <div class="login-logo">
        <img src="assets/logo-alpe.png" width="120px" height="117px">
    </div>
    <div class="login-box-body">
        <p class="login-box-msg">Esqueci minha senha</p>

        <form [formGroup]="formRecover">
            <div class="form-group has-feedback" [class.has-error]="email.invalid && email.dirty">
                <input type="email" class="form-control" placeholder="E-mail" formControlName="email">
                <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
                <div class="help-block" [hidden]="email.valid || email.pristine">
                    E-mail inválido
                </div>
            </div>
            <button class="btn btn-primary btn-block btn-flat mb-15" (click)="recover()"  >Solicitar Nova Senha</button>
            <app-movidesk direction="pull-right"></app-movidesk>
        </form>
    </div>
</div>