<div class="login-box">
  <div class="login-logo">
    <img src="assets/logo-alpe.png" width="120px" height="117px" />
  </div>
  <div class="login-box-body">
    <p class="login-box-msg">Definir senha:</p>

    <form [formGroup]="formReset">
      <div
        class="form-group has-feedback"
        [class.has-error]="newPassword.invalid && newPassword.dirty"
      >
        <input
          type="password"
          class="form-control"
          placeholder="Nova Senha"
          formControlName="newPassword"
        />
        <span class="glyphicon glyphicon-lock form-control-feedback"></span>
        <div
          class="help-block"
          [hidden]="!newPassword.hasError('required') || newPassword.pristine"
        >
          Senha inválida.
        </div>
        <div
          class="help-block"
          [hidden]="!newPassword.hasError('minlength') || newPassword.pristine"
        >
          A senha precisa ter no mínimo 8 caracteres.
        </div>
      </div>
      <div
        class="form-group has-feedback"
        [class.has-error]="confirmNewPassword.invalid && confirmNewPassword.dirty"
      >
        <input
          type="password"
          class="form-control"
          placeholder="Confirmação da Nova Senha"
          formControlName="confirmNewPassword"
        />
        <span class="glyphicon glyphicon-lock form-control-feedback"></span>
        <div
          class="help-block"
          [hidden]="!confirmNewPassword.hasError('required') || confirmNewPassword.pristine"
        >
          Senha inválida.
        </div>
        <div
          class="help-block"
          [hidden]="!confirmNewPassword.hasError('minlength') || confirmNewPassword.pristine"
        >
          A senha precisa ter no mínimo 8 caracteres.
        </div>
        <div
          class="help-block"
          [hidden]="!confirmNewPassword.hasError('passwordMismatch') || confirmNewPassword.pristine"
        >
          A confirmação da senha deve ser igual a nova senha.
        </div>
      </div>
      <button class="btn btn-primary btn-block btn-flat mb-15" (click)="change()">Enviar</button>
      <app-movidesk direction="pull-right"></app-movidesk>
    </form>
  </div>
</div>
